.associaleddiv{
  padding-bottom: 100px;
}

.tomato {
    position: relative;
    background-image: url("../../images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
  }
  
  
  .tomato::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    background: #0a0b1a;
    opacity: 0.5;
    height: 100%;
    z-index: -1;
  }